Service-CRUD-Cliente/web/WEB-INF/wsdl/localhost_8080/Service-CRUD/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webService/">

<xs:element name="Actualizar" type="tns:Actualizar"/>

<xs:element name="ActualizarResponse" type="tns:ActualizarResponse"/>

<xs:element name="Eliminar" type="tns:Eliminar"/>

<xs:element name="EliminarResponse" type="tns:EliminarResponse"/>

<xs:element name="agregar" type="tns:agregar"/>

<xs:element name="agregarResponse" type="tns:agregarResponse"/>

<xs:element name="listar" type="tns:listar"/>

<xs:element name="listarID" type="tns:listarID"/>

<xs:element name="listarIDResponse" type="tns:listarIDResponse"/>

<xs:element name="listarResponse" type="tns:listarResponse"/>

<xs:complexType name="agregar">
<xs:sequence>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualizar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>