Service-CRUD-Cliente/web/WEB-INF/wsdl/localhost_8080/Service-CRUD/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/Service-CRUD/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="listarID">
<part name="parameters" element="tns:listarID"/>
</message>
<message name="listarIDResponse">
<part name="parameters" element="tns:listarIDResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="Actualizar">
<part name="parameters" element="tns:Actualizar"/>
</message>
<message name="ActualizarResponse">
<part name="parameters" element="tns:ActualizarResponse"/>
</message>
<message name="Eliminar">
<part name="parameters" element="tns:Eliminar"/>
</message>
<message name="EliminarResponse">
<part name="parameters" element="tns:EliminarResponse"/>
</message>
<portType name="Servicios">
<operation name="agregar">
<input wsam:Action="http://webService/Servicios/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://webService/Servicios/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="listarID">
<input wsam:Action="http://webService/Servicios/listarIDRequest" message="tns:listarID"/>
<output wsam:Action="http://webService/Servicios/listarIDResponse" message="tns:listarIDResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://webService/Servicios/listarRequest" message="tns:listar"/>
<output wsam:Action="http://webService/Servicios/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="Actualizar">
<input wsam:Action="http://webService/Servicios/ActualizarRequest" message="tns:Actualizar"/>
<output wsam:Action="http://webService/Servicios/ActualizarResponse" message="tns:ActualizarResponse"/>
</operation>
<operation name="Eliminar">
<input wsam:Action="http://webService/Servicios/EliminarRequest" message="tns:Eliminar"/>
<output wsam:Action="http://webService/Servicios/EliminarResponse" message="tns:EliminarResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualizar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/Service-CRUD/Servicios"/>
</port>
</service>
</definitions>